<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRWyVWHbYIeCga18wfq47ABacturOeNys</string>
	<key>GCM_SENDER_ID</key>
	<string>821483249479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mahasiswa-2</string>
	<key>PROJECT_ID</key>
	<string>tugas-mahasiswa-cc639</string>
	<key>STORAGE_BUCKET</key>
	<string>tugas-mahasiswa-cc639.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821483249479:ios:b2f79820a3193d5dec7662</string>
	<key>DATABASE_URL</key>
	<string>https://tugas-mahasiswa-cc639-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>